#hero-map {
  width: 100%;
  height: 330px;
  border-radius: 10px;
}

.hero-sidebar {
  display: none;
  position: absolute;
  top: 0;
  right: -310px;
  width: 300px;
  height: 100%;
  background: white;
  padding: 18px;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  border-left: 6px solid #D90429;
}

.hero-sidebar.show {
  display: block;
  right: 0;
}
