.tren-bar {
  position: relative;
  height: 6px;
  background: #ddd;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
}

#progress {
  height: 100%;
  background: #F2994A;
  width: 0%;
  transition: 0.4s;
}

#train,
#train-init {
  position: absolute;
  top: -35px;
  left: 0;
  width: 110px;
  transition: 0.4s;
}
